binary "https://tags.tiqcdn.com/dle/tealiummobile/tealium-ios-carthage/tealium-carthage-plcrashreporter.json"
git "file:///Users/craigrouse/mobiledev/swift-library/tealium-swift-builder" "remove-crash"